@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-size: 20px;
}

#wrap {
	height: 100%;
	position: relative;
	background: url("../img/game_bg.jpg") no-repeat 0 0 / 100% 100%;
}

#mask {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

#pro_bg {
	position: absolute;
	width: 80%;
	height: 4%;
	background-color: #C3AD88;
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	color: #fff;
}

.center {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#loading {
	width: 0;
	height: 100%;
	background: url("../img/progress.png") no-repeat 0 0 / 100% 100%;
}

#menu {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#start {
	position: absolute;
	width: 90%;
	height: 2rem;
	line-height: 2.5rem;
	text-align: center;
	font-size: 2rem;
	color: white;
	font-weight: 900;
	letter-spacing: 10px;
}

#progress {
	position: absolute;
	left: 19.6875%; /*63/320*/
	top: 13.5%;/*66/480*/
	height: 3.6%;/*16/480*/
	width: 56.25%;/*180/320*/
	border-radius: 20px;
	overflow: hidden;
}



#score {
	position: absolute;
	font-size: 1.3rem;
	color: white;
	left: 18.1876%; /* 55/320*/
	height: 9.58333%; /*46/480*/
	display: flex;
	align-items: center;
}

#wolf-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: none;
}

#wolf-wrap img {
	position: absolute;
	left: 29.6875%;  /*63/320*/
	top: 23.85%;  /*66/480*/
	height: 21.04167%;  /*101/480*/
	width: 33.75%;  /*108/320*/
}

img {
	border: none !important;
}