@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.middle::before {
	content: "";
	display: inline-block;
	visibility: hidden;
	vertical-align: middle;
	width: 0px;
	height: 100%;
}

.clearfix::after,
.clearfix::before {
	content: "";
	clear: both;
	display: block;
}

html {
	font-size: 80px;
}

body {
	font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}

.w {
	width: 1230px;
	margin: 0 auto;
}

.site_nav {
	height: 0.4rem;
	background: #f2f2f2;
	color: #999;
	border-bottom: 1px solid #e5e5e5;
}

.site_nav .site_nav_bd .site_nav_bd_left {
	height: 0.4rem;
	float: left;
	line-height: 0.4rem;
}

.site_nav .site_nav_bd .site_nav_bd_left .login_info {
	padding: 0 0.125rem 0 0.25rem;
	color: #999;
}

.site_nav .site_nav_bd .site_nav_bd_left .sign_info {
	padding: 0 0.125rem;
	color: #999999;	
}

.ff0036,
.main_nav .main_nav_item a:hover,
.site_nav .site_nav_bd .site_nav_bd_left a:hover,
.site_nav .site_nav_bd .site_nav_bd_right .siteBox:hover > a,
.site_nav .site_nav_bd .site_nav_bd_right .siteBox a:hover,
.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia p a:first-child:hover,
.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia p a:last-child:hover,
.header .header_searchBox .header_search ul li.ff0036 a {
	color: #FF0036;
}

.site_nav .site_nav_bd .site_nav_bd_right {
	height: 0.4rem;
	float: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox {
	padding: 0 0.175rem;
	color: #999;
	line-height: 0.4rem;
	position: relative;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox.ms .baobei{
	width: 100%;
	position: absolute;
	top: 0.4rem;
	border: 1px solid #eee;
	border-top: none;
	line-height: 0.35rem;
	background: #FFFFFF;
	text-align: center;
	padding-right: 0.15rem;
	padding-left: 0.15rem;
	display: none;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox.ms .baobei {
	left: 0rem;	
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox.ms.prs .baobei {
	right: 0rem;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox.ms .baobei a {
	display: inline-block;
	color: #666;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox.ms:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox:hover .baobei{
	display: inline-block;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox:hover a > b {
	border-bottom: 5px solid #bbb;
	border-top: 5px solid transparent;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox a {
	color: #999;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox a > b {
	width: 0;
	height: 0;
	display: inline-block;
	border-top: 5px solid #bbb;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	vertical-align: middle;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .phoneBox {
	width: 175px;
	position: absolute;
	left: -0.5rem;
	margin-top: 2px;
	display: none;
	box-shadow: 0px 0px 5px #aaa;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .phoneBox .phone1 {
	width: 175px;
	height: 175px;
	background: url(../img/phone.png) 0 0 no-repeat;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .phoneBox .phone2 {
	width: 145px;
	height: 30px;
	margin: 0px 15px 10px;
	background: url(../img/phone1.png) center bottom no-repeat;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox.phone:hover .phoneBox {
	display: block;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia,
.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network {
	position: absolute;
	top: 0.4rem;
	right: 0rem;
	border: 1px solid #eee;
	border-top: none;
	line-height: 0.35rem;
	background: #FFFFFF;
	padding-right: 0.15rem;
	padding-left: 0.15rem;
	display: none;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia {
	width: 1.5rem;
	color: #666666;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox:hover .shangjia {
	display: block;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia .linetop {
	border-top: 1px dotted #666;
	margin-top: 3px;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia .linebottom {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia p a:first-child {
	float: left;
	color: #666;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .shangjia p a:last-child {
	float: right;
	color: #666666;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network {
	box-sizing: border-box;
	padding: 10px 0;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox:hover .network {
	display: block;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network1:nth-child(1) .network_title {
	color: #f56a00;	
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network1:nth-child(2) .network_title {
	color: #2263d4;	
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network2 .network_title {
	color: #666;	
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network_title {
	padding-left: 20px;
	font-size:16px;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network1 {
	width: 40%;	
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #eee;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network2 {
	width: 20%;	
	box-sizing: border-box;
	float: left;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network_items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network2 .network_items .item{
	width: 50%;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .network_items .item {
	width: 20%;
	text-align: center;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .not,
.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .hot {
	width: 10px;
	height: 10px;
	position: relative;
	left: 5px;
	display: inline-block;	
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .not {
	background: url(../img/jinglingtu.png) no-repeat -37px -11px;
}

.site_nav .site_nav_bd .site_nav_bd_right .siteBox .network .hot {
	background: url(../img/jinglingtu.png) no-repeat -37px 0px;
}

/*mui_bar*/
.mui_bar {
	width: 35px;
	height: 100%;
	background: #000;
	float: right;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 100;
} 

.mui_bar_tab {
	width: 35px;
	height: 35px;
	margin: 4px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.mui_bar_tab_cart {
	height: 100px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

.mui_bar_tab:hover {
	background-color: #FF0036;
}

.mui_bar_icon {
	width: 154px;
	height: 157px;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	bottom: -10px;
	right: 35px;
	padding: 50px 0px 0px 0px;
	background: url("../img/tmall_bg.png") no-repeat;
	display: none;
}

.mui_bar_icon img {
	width: 100px;
}

.mui_bar_item {
	width: 100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #FFFFFF;
	background: #444;
	position: absolute;
	top: 0px;
	right: 35px;
	display: none;
}

.mui_bar_item::before {
	width: 0px;
	height: 0px;
	content: "";
	box-sizing: content-box-box;
	display: inline-block;
	position: relative;
	right: -82px;
	top: 0px;
	border-left: 5px solid #444;
	border-right:5px solid transparent ;
	border-top:5px solid transparent ;
	border-bottom:5px solid transparent ;
}

.mui_bar_tab:hover .mui_bar_item,
.mui_bar_tab:hover .mui_bar_icon {
	display: block;
}

.mui_bar_logo {
	background-image: url("../img/mui_logo.png");
}

.mui_bar_tab_car {
	background-image: url("../img/mui_car.png");
	position: relative;
}

.mui_bar_tab_car p {
	width: 20px;
	height: 50px;
	position: absolute;
	left: 8px;
	top: 40px;
	line-height: 16px;
	overflow: hidden;	
	font-size: 14px;
	color: #ddd;
}

.mui_bar_price {
	background-image: url("../img/mui_price.png");
}

.mui_bar_star {
	background-image: url("../img/mui_star.png");
}

.mui_bar_time {
	background-image: url("../img/mui_time.png");
}

.mui_bar_charge {
	background-image: url("../img/mui_chong.png");
}

.mui_bar_top {
	position: absolute;
	bottom: 0px;
	background-image: url("../img/mui_top.png");
}

.mui_bar_procode {
	position: absolute;
	bottom: 35px;
	background-image: url("../img/mui_qrcode.png");
}

.mui_bar_ue {
	position: absolute;
	bottom: 70px;
	background-image: url("../img/mui_ue.png");
}

/*header*/

.header {
	height: 130px;
}

.header .header_logo {
	width: 290px;
	float: left;
	height: 130px;
	background: url(../img/logo.gif) no-repeat -40px 0px;
}

.header .header_searchBox {
	height: 106px;
	float: left;
}

.header .header_searchBox .header_banner {
	width: 200px;
	height: 70px;
	float: right;
	padding: 2px 0px 0px 102.5px;
}

.header .header_searchBox .header_search {
	width: 625px;
	padding-top: 38px;
	float: right;
}

.header .header_searchBox .header_search form {
	height: 36px;
	border-width: 2px 0 2px 2px;
	border: solid #FF0036;
	position: relative;
}

.header .header_searchBox .header_search form button {
	width: 132px;
	height: 36px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	position: absolute;
	top: 0px;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	outline: none;
	background: #FF0036;
	right: 0px;
}

.header .header_searchBox .header_search form input {
	height: 36px;
	width: 491px;
	font: 16px/22px arial;
	box-sizing: border-box;
	background: 0 0;
	color: #000;
	border: none;
	outline: none;
	padding: 5px 3px 5px 5px;
}

.header .header_searchBox .header_search ul {
	height: 24px;
	font-size: 14px;
	padding: 4px 0px 0px;
	margin-left: -13px;
	overflow: hidden;
	width: 100%;
}

.header .header_searchBox .header_search ul li {
	float: left;
	padding:0px 12px;
	line-height: 1.1;
	border-left: 1px solid #ccc;
}

.header .header_searchBox .header_search ul li > a {
	color: #999999;
} 

.header .header_searchBox .header_search ul li:first-child {
	border: none;
}

/*主导航 main_nav*/
.main {
	border-bottom: 1.5px solid #FF0036;	
}

.main_nav {
	height: 36px;
	display: flex;
	justify-content: flex-start;
}

.main_nav .main_nav_title {
	width: 200px;
	height: 36px;
	font-size: 16px;
	line-height: 36px;
	background: #FF0036;
	color: #fff;
}

.main_nav .main_nav_title i,
.main_nav .main_nav_title span {
	font-weight: 700px;
	margin-left: 14px;
}

.main_nav .main_nav_item a img {
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-top: 3px;
}

.main_nav .main_nav_item a {
	height: 35px;
	line-height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    position: relative;
}

/*轮播图*/
#slider_banner {
}

.slider_s {
	position: relative;
	overflow: auto;
}

.slider_s > .slider li {
	position: relative;
	float: left;
}

.slider_s > .slider li .icon {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 220px;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	justify-content:space-between;
}

.slider_s > .slider li .icon img{
	width: 220px;
	background: #FFFFFF;
	opacity: 0.9;
}

.slider_s > .slider li .icon img:hover {
	opacity: 1;
}

#sliders .dots {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

#sliders .dots li {
	display: inline-block;
	width: 30px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	cursor: pointer;
	opacity: .4;
	background: #000000;
	transition: background .5s, opacity .5s;
}

#sliders .dots li.active {
	background: #fff;
	opacity: 1;
}

#sliders .slider li > img {
	width: 1230px;
	height: 500px;
	float: left;
}

.nolmal_nav {
	width: 200px;
	height: 500px;
	background-color: rgba(0,0,0,0.55);
	position: absolute;
	left: 0px;
	top: 0px;
}

.nolmal_nav > ul li {
	width: 100%;
	height: 31.2px;
	line-height: 31.2px;
	font-size: 14px;
	color: #FFFFFF;
	position: relative;
}

.nolmal_nav > ul li:hover {
	background: #FFFFFF;
}

.nolmal_nav > ul li:hover:nth-child(odd) > p,
.nolmal_nav > ul li:hover:nth-child(odd) > i{
	color: #FF0036;
}

.nolmal_nav > ul li:hover:nth-child(even) > p,
.nolmal_nav > ul li:hover:nth-child(even) > i{
	color: #2263D4;
}

.nolmal_nav > ul li > i {
	width: 10px;
	margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    font-size: 16px;
    line-height: 31px;
    display: inline-block;
    opacity: 0.5;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.nolmal_nav > ul li > p {
	vertical-align: middle;
	display: inline-block;
	margin-left: 14px;
}

.nolmal_nav > ul li > .nolmal_item {
	position: absolute;
	top: 0px;
	left: 200px;
	height: 500px;
	width: 500px;
	color: #999;
	background: red;
	display: none;
}

.nolmal_nav > ul li:hover .nolmal_item {
	display: block;
}

.show {
	height: 500px;
	position: absolute;
	left: 200px;
	top: 0px;
	z-index: 10;
}

.show > div {
	height: 500px;
  	display: none;
 	background: #2263D4;
}

.show > div.active {
  display: block;
}

.show .show_item {
	width: 100%;
	height: 500px;
	display: flex;
	background-color: #FFFFFF;
	justify-content:space-between;
}

.show .show_item .show_item_left {
	width: 645px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 15px 0 15px 20px;
}

.show .show_item .show_item_left .show_item_left_title:last-child ul {
	border-bottom: none;
}

.show .show_item .show_item_left .show_item_left_title p ,
.show .show_item .show_item_left .show_item_left_title ul{
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.show .show_item .show_item_left .show_item_left_title p {
	width: 100px;
	color: #000000;
	font-weight: 600;
	font-size: 14px;
}

.show .show_item .show_item_left .show_item_left_title ul {
	border-bottom: 1px dotted #666;
	width: 490px;
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
}

.show .show_item .show_item_left .show_item_left_title ul li {
	height: 24px;
	color: #bbb;
	line-height: 24px;
	font-size: 14px;
}

.show .show_item .show_item_left .show_item_left_title ul li a {
	padding: 0px 8px;
	color: #333;
}

.show .show_item .show_item_left .show_item_left_title ul li a.ff0036 {
	color: #FF0036;
}

.show .show_item .show_item_left .show_item_left_title ul li a.ff0036s {
	color: #2263D4;
}

.show .show_item  .show_item_right {
	width: 174px;
	float: right;
	padding: 10px;
	background: #F2F2F2;
}

.show .show_item  .show_item_right img {
	width: 85px;
	height: 45px;
	float: left;
	border: 1px solid #e5e5e5;
}

.show .show_item  .show_item_right img:last-child {
	width: 172px;
	height: 80px;
	display: inline-block;
	margin-top: 11px;
	margin-bottom: 11px;
	border: 1px solid #e5e5e5;
}

.area_con {
	padding-top: 10px;
}

.area_con a {
	float: left;
	display: block;
	width: 238px;
	height: 130px;
	margin-right: 10px;
}

.area_con a:last-child {
	margin-right: 0;
}

.area_con a:hover {
	opacity: 0.8;
}

.title_con {
	margin-bottom: 10px;
}

.title_con .title_inner_con {
	width: 252px;
	height: 18px;
	margin: 0 80px;
	text-align: center;
	color: #FF0036;
	font-size: 18px;
	line-height: 18px;
    display: inline-block;
}

.title_con .line {
	background-color: #000;
    opacity: .1;
    display: inline-block;
    border-bottom: 1px solid;
    width: 403px;
    margin-bottom: 9px;
}

.content {
	padding-top: 24px;
	background: #f5f5f5;
}

.brandWall {
	padding-top: 24px;
}

.brandWall_left {
	width: 234px;
	height: 370px;
	float: left;
	background: #FFFFFF;
	margin-right: 13px;
}

.brandWall_center {
	margin-right: 13px;
}

.brandWall_center,
.brandWall_right {
	width: 485px;
	float: left;
	background-color: #FFFFFF;
}

.brandWall_header {
	height: 55px;
	position: relative;
}

.brandWall_header .cn,
.brandWall_header .en {
	display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}

.brandWall_header .en {
	font-size: 14px;
}

.brandWall_header a {
	position: absolute;
    right: 14px;
    top: 0;
    width: 42px;
    height: 54px;
    line-height: 54px;
    z-index: 99;
    background-size: 18px 18px;
    background-image: url("../img/gengduo.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
    font-size: 16px;
    color: #666;
    overflow: hidden;
}

.brandWall_left > a > img {
	width: 234px;
}

.brandWall_center > a > img,
.brandWall_right > a > img {
	width: 485px;
}

.brandWalls a:hover {
	opacity: 0.6;
}

.brand {
	margin-top: 15px;
}

.brand ul li {
	width: 122px;
	height: 108px;
	margin-right: 1px;
	margin-bottom: 1px;
	float: left;
	position: relative;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}


.brand ul li > .brand_img {
	font-size: 16px;
	text-align: center;
}

.brand ul li:last-child:hover {
	background: #FF0036;
	color: #FFFFFF;
}

.brand ul li:last-child i {
	font-size: 18px;
	transform: rotateZ(0deg);
	transition: all 0.5s ease-in-out;
}

.brand ul li:last-child:hover i {
	transform: rotateZ(180deg);
}

.brand ul li > a {
	width: 100%;
	height: 100%;
	position: absolute;
	color: #eee;
	display: none;
	background: rgba(0,0,0,0.7);
}

.brand ul li > a > .enter {
	height: 32px;
	text-align: center;
}

.brand ul li > a > .enter span {
	display: inline-block;
	color: #fff;
	width: 63px;
	height: 18px;
	font-size: 12px;
	line-height: 15px;
	background-color: #FF0036;
	border-radius: 9px;
}

.brand ul li > a > .coupon {
	color: #fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}

.brand ul li > a > .coupon span {
	display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brand ul li:hover a {
	display: block;	
}

.new_floor_con {
	margin-top: 20px;
}

.floor {
	height: 31px;
}

.floor_name {
	float: left;
	height: 31px;
	vertical-align: middle;
}

.floor_name img {
	width: 214px;
	height: 25px;
	float: left;	
}

.floor_name .floor_tag_title {
	margin: 0px 10px;
	float: left;
}

.floor_name .floor_tag_title span:first-child {
	font-size: 20px;
	font-weight: 500;
}

.floor_name .floor_tag_title span:last-child {
	height: 18px;
	margin-left: 10px;
	font-size: 14px;
	display: inline-block;
	color: #000000;
	line-height: 24px;
}

.color_mark {
	width: 5px;
	height: 20px;
	float: left;
	margin-top: 5px;
	vertical-align: middle;
	display: inline-block;
}

.pink {
	background: #EA5F8D;	
}

.blue {
	background: #0AA6E8;
}

.greens {
	background: #00B262;
}

.floor_nav {
	float: right;
	vertical-align: middle;
}

.floor_nav ul li {
	float: left;
}

.floor_nav ul li a{ 
	height: 20px;
	color: #333;
	line-height: 20px;
	margin: 5px 10px;
	font-size: 14px;
	display: inline-block;
	border-bottom: 1px solid #f5f5f5;
}

.floor_nav ul li a:hover {
	border-bottom: 1px solid #000;
}

.big_banner_con {
	width: 235px;
	float: left;
	margin-top: 10px;
}

.big_banner_con_2 {
	width: 235px;
	float: left;
	background: linear-gradient(to top,#000,#fff);
	position: relative;
}

.big_banner_con_2 > img {
	width: 235px;
	height: 618px;
	border: none;
	float: left;
}

.big_banner_con_2 > img:hover,
.floor_item_content_wrap:hover img,
.big_banner_con_2 .big_banner_con_item1 img:hover {
	opacity: 0.8;
}

.more {
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: url("../img/photo/more.png") 0 0 / 100% 100% no-repeat;
}

.big_banner_con_2 .banner_details {
	width: 218px;
	height: 64px;
	position: absolute;
	bottom: 20%;
}

.big_banner_con_2 .banner_details .details_left {
	background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.big_banner_con_2 .banner_details .details_left span {
	display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
}

.big_banner_con_2 .banner_details .details_right {
	left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    box-sizing: border-box;
    color: #FFF;
    padding: 8px 0px 0px 14px;
    vertical-align: middle;
}

.big_banner_con_2 .banner_details .details_right span {
	display: block;
	line-height: 24px;
	font-size: 18px;
}

.big_banner_con_2 .big_banner_con_item1 {
	height: 301px;
	position: relative;
}

.big_banner_con_2 .big_banner_con_item1 img {
	width: 235px;
}

.big_banner_con_2 .big_banner_con_item2{
	border-top: 15px solid #f5f5f5;
}

.moddle_column_con {
	width: 995px;
    height: 618px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}

.grid {
	float: left;
    display: block;
    border-bottom: 15px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}

.two_grid {
	width: 484px;
	height: 301px;
	margin-left: 13px;
}

.floor_tabs {
	width: 462px;
    height: 282px;
    margin: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.09);
}

.floor_tab_head li{
	float: left;
	color: #000000;
	width: 191px;
	height: 57px;
	line-height: 57px;
	padding: 0px 20px;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
	cursor: pointer;
	background: #f1f1f1;
}

#floor_tab li.green {
	color: #FFFFFF;
	background: #00b262;
}

.one_grid_price {
	width: 235px;
    height: 301px;
    margin-left: 13px;
    text-align: center;
}

.floor_item_content_wrap:hover {
	border: 1px solid red;
}

.floor_item_content_wrap {
	width: 234px;
	height: 300px;
	float: left;
	border: 1px solid #fff;
}

.floor_tab_content {
	width: 462px;
	height: 225px;
}

.floor_tab_detail.display {
	display: none;
}

.floor_tab_content .floor_tab_detail > a {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.floor_tab_content .floor_tab_detail > a > img {
	width: 200px;
	height: 200px;
	float: right;
	margin: 10px 30px 0px 0px;
}

.right_detail_a .right_detail {
	width: 291px;
	height: 87px;
	position: absolute;
	top: 70px;
	background: url("../img/photo/cir_bg.png");
}

.right_detail_a .right_detail .title_wrap {
	margin-left: 26px;
    margin-top: 8px;
    vertical-align: middle!important;
}

.right_detail_a .right_detail .title_wrap span {
	margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00b262;
}

.right_detail_a .right_detail .title_span {
	margin-left: 26px;
	font-size: 20px;
	letter-spacing: 1px;
	color: #000000;
}

.floor_item_tag {
	width: 68px;
	height: 20px;
	color: #FFFFFF;
	line-height: 20px;
	background-color: #00b262;
	font-size: 14px;
	margin: 0 auto;
	visibility: hidden;
}

.floor_item_img,
.floor_item_img img {
	width: 185px;
	height: 185px;
	margin: 0 auto;
	border: none;
}

.floor_item_title {
	width: 135px;
	height: 40px;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	overflow: hidden;
	margin: 8px auto;
}

.floor_item_price {
	font-size: 18px;
	line-height: 18px;
	margin: 10px auto;
	color: #FF0036;
}


.docPhoto {
	height: 90px;
	margin: 20px 0px;
	background: url("../img/photo/docphoto.jpg") no-repeat center center / 100% 100%;
}

.like {
	margin-top: 30px;
}

.module_content {
	margin-top: 20px;
}

.wondelful_line {
	height: 330px;
}

.wondelful_item {
	float: left;
	width: 235px;
	margin-right: 12px;
	margin-bottom: 7px;
}

.wondelful_item:last-child {
	margin-right: 0px;
}

.card_item {
	display: block;
	border: 2px solid #fff;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 100%;
	height: 315px;
}

.card_item:hover {
	outline: #FF0036 solid 1px;
}

.card_item .item_img {
	width: 185px;
	height: 185px;
	margin: 20px auto 0px;
	display: block;
	overflow: hidden;
}

.card_item .item_img img {
	width: 185px;
}

.card_item .item_info {
	padding: 14px 12px 8px;
	display: block;
	text-align: center;
}

.card_item .item_info .item_desc {
	width: 135px;
	height: 40px;
	color: #666666;
	line-height: 20px;
	margin: 8px auto;
	display: block;
	font-size: 14px;
	overflow: hidden;
}

.card_item .item_info .item_price {
	height: 33px;
	margin-top: 2px;
	line-height: 32px;
	color: #FF0036;
	font-size: 18px;
}

/*end*/
.end{
	text-align: center;
    background-size: cover;
}

.end img {
	width: 80px;	
}

.footer {
	width: 100%;
    border-top: 1px solid #D1D7DC;
    clear: both;
    text-align: center;
    background: #fff;
}

.footer .tmall_ensure {
	width: 1190px;
    height: 100px;
    margin: 25px auto;
    padding: 0;
}

.footer .tmall_desc {
	width: 1190px;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
    background: url("../img/footer/footer_tmall.png") 45px bottom / 68px 25px no-repeat;
}

.footer .tmall_desc dl {
	float: left;
    width: 186px;
    padding-left: 52px;
}

.footer .tmall_desc dl dt {
	color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.footer .tmall_desc dl dd {
	width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    text-align: left;
    display: block;
}

.footer .tmall_desc #mobile dd {
	width: 105px;
    height: 105px;
    line-height: 105px;
    text-align: center;
}

.footer .tmall_copyright {
	background: #000000;
	border-top: 2px solid #FF0036;
	text-align: left;
	padding-bottom: 20px;
	line-height: 25px;
}

.footer .tmall_copyright > p {
	padding: 5px 0px;
	line-height: 25px;
	font-weight: 200;
	color: #eee;
}

.footer .tmall_copyright > p a {
	margin-right: 3px;
	color: #eee;
}

.footer .tmall_copyright .footer_copyright {
	color: #A4A4A4;
}

.footer .tmall_copyright .footer_copyright > a {
	color: #a4a4a4;
    margin-right: 65px;
}

.footer .tmall_copyright .footer_copyright > a > img {
	position: relative;
	top: 5px;
}
