@charset "utf-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, em, textarea, p, th, td, span {
  margin: 0px;
  padding: 0px;
}

body, button, input, select, textarea {
  font: 12px/1.5 "微软雅黑", '宋体', STHeiTi, Arial, Helvetica, sans-serif;
  color: #333;
  text-align: left;
}

body {
  background-color: #fff;
}

p {
  line-height: 21px;
}

img, a img, fieldset, button, input {
  border: none;
  vertical-align: middle;
}

section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

ol, ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

.clearfix::after,
.clearfix::before {
  overflow: hidden;
  clear: both;
  display: block;
  height: 0;
  content: ""
}

/* ie 6 7 下清除浮动方式,只有ie有效 ie 6 7 下after 不兼容 ,样式前加特殊字符 比如(*),只有ie 6 7 才能正常解析 */

.clearfix {
  *zoom: 1;
}

.clearboth {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.w500 {
  width: 500px;
  margin: 0 auto;
}

.w960 {
  width: 960px;
  margin: 0 auto;
}

.w1260 {
  width: 1260px;
  margin: 0 auto;
}

.w1300 {
  width: 1300px;
  margin: 0 auto;
}

.w1900 {
  width: 1900px;
  margin: 0 auto;
}

.mart10 {
  margin-top: 10px;
}

.mart20 {
  margin-top: 20px;
}

.marg10 {
  margin-bottom: 10px;
}

.marg20 {
  margin-bottom: 20px;
}

.padb10 {
  padding-bottom: 10px;
}

.padb20 {
  padding-bottom: 20px;
}

.ell {
  /* 1.强制文本不会换行 */
  white-space:nowrap;
  /* 2.超出部分隐藏 */
  overflow: hidden;
  /* 3.文本超出省略号 */
  text-overflow: ellipsis;
}
