@charset "utf-8";

.animated {
	animation-name: ssy;
}


.animated.alternate {
	animation-direction: alternate;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

@keyframes ssy{
	from{
		width: 200px;
	}
	to{
		width: 100%;
	}
}
