@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "微软雅黑";
  background: #F2F2F2;
  font-size:0.16rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

#joinus,
#home,
#work,
#contact {
  color: #fff;
}

.head-wrap {
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0px;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

.head-wrap .head {
  text-align: center;
  margin: 15px auto 10px;
}

.head-wrap .head img {
  width: 8.5rem;
}

.head-wrap .nav {
  width: 60%;
  margin: 0 auto;
}

.head-wrap .nav ul li {
  width:25%;
  float: left;
  text-align: center;
}

.head-wrap .nav a:hover {
  color: #fff;
}

.head-wrap .nav a.first {
  margin-left: 0px;
}

.wrap {
  width: 70%;
  min-width: 1200px;
  margin: 130px auto 0px;
}

.wrap .join-center {
  width: 600px;
  margin: 0 auto;
}

.wrap .join-center .join-wrap {
  width: 480px;
  margin: 50px auto;
}

.wrap .join-center .join-wrap .join-logo img {
  width: 480px;
  margin-bottom: 20px;
}

.wrap .join-center .join-wrap .join-content {
  text-indent: 2em;
  color: #666;
  font-size: 14px;
  font-size: 1rem;
  margin: 20px auto;
}

.wrap .join-center .join-wrap .join-contents {
  color: #666;
  font-size: 14px;
  font-size: 1rem;
  margin: 10px auto;
}

.wrap .join-center .join-wrap .icon2 {
  color:#444;
  margin-top: 30px;
}

.wrap .join-center .join-wrap .icon2 p img {
  width: 70px;
}

.wrap .join-center .join-wrap .icon2-h5 {
  color: #444;
  margin-top: 20px;
}

.footer {
  background: #e0e0e0;
  position: relative;
  width: 100%;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px white;
  color: #666666;
  overflow: hidden;
}

.footer {
  margin-top: 50px;
}

.footer .foot {
  padding: 10px 0;
}

.footer .footer-left {
  width: 50%;
  height: 50px;
  float: left;
}

.footer .footer-left a img{
  width: 40px;
  float: right;
  display: inline-block;
  margin-right: 20px;
}

.footer .footer-right {
  width: 50%;
  box-sizing: border-box;
  float: left;
  border-left: 1px solid rgba(0,0,0,0.3);
}

.footer .footer-right .contact {
  margin-left: 20px;
  font-size: 12px;
  font-size: 0.9rem;
}

.footer .footer-right .contact .footer-logo {
  width: 143px;
  margin-bottom: 10px;
}

.footer .footer-right .contact .footer-logo img {
  width: 100%;
}

.footer .footer-right .contact p {
  margin-bottom: 5px;
}
/*  */

.swiper {
  padding-top: 130px;
}

.swiper-container .caption {
  width: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  line-height: 2rem;
  font-size: 1rem;
}

.swiper .swiper-p {
  margin-top: 50px;
  text-indent: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px #e8e8e8 solid;
  border-bottom: 1px #e8e8e8 solid;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: #666666;
  font-family: STKaiti,"微软雅黑";
}

.swiper .parner {
  margin: 2% auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.swiper .parner span img {
  width: 4.8%;
  margin: 0px 0.7%;
  min-width: 35px;
}

.swiper .content {
  width: 100%;
  overflow: hidden;
}

.swiper .content ul .box {
  width: 31%;
  border-radius: 5px;
  background: white;
  float: left;
  margin: 2% 0;
  overflow: hidden;
  color: #959595;
  text-decoration: none;
  box-shadow: 2px 2px 2px #e3e3e3;
  position: relative;
}

.swiper .content ul .box2 {
  margin: 2% 3.5%;
}

.box {
  width: 300px;
  margin: 50px auto;
  box-shadow: 2px 2px 2px #e2e2e2;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.box .img img{
  width: 100%;
}

.box .item {
  clear: both;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0,0,0,0.4);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  display: block;
  z-index: 1;
  padding-top: 10%;
}

.box:hover > .item{
  visibility: visible;
}

.box .icon {
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 35px;
  font-family: HUM521L;
  font-size: 0.8rem;
  color: #666666;
  z-index: 2;
  background-color: #fff;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

.box .item h1 {
  font-size: 2rem;
  margin: 2% 0;
  text-align: center;
}

.box .item p {
  font-size: 0.9rem;
  margin: 2% 0;
  text-align: center;
}

/* 大于1200px时 */
@media all and (min-width:1215px) {
  .w {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
  }

  .head-wrap .head img {
    width: 136px;
  }

  .swiper img {
    width: 1200px;
  }

  .head-wrap .nav a {
    font-size: 1rem;
    color: #898989;
  }
}
/* 屏幕大于640 小于1215 */
@media all and (min-width:640px) and (max-width:1215px) {

  .head-wrap .head img {
    width: 110px;
  }

  .swiper {
    width: 100%;
    min-width: 640px;
  }

  .swiper-container {
    width: 96%;
  }

  .swiper img {
    width: 100%;
  }

  .head-wrap .nav a {
    font-size: 0.9rem;
    color: #898989;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .box .item h1 {
    font-size: 2rem;
    margin: 2% 0;
    text-align: center;
  }

  .box .item p {
    margin: 2% 0;
    font-size: 0.9rem;
    text-align: center;
  }

  .box .icon {
    line-height: 25px;
  }
}

/* 屏幕大于640 小于950 */
@media all and (min-width:640px) and (max-width:950px) {
  .box .item h1 {
    font-size: 1.5rem;
    margin: 2% 0;
    text-align: center;
  }

  .box .item p {
    margin: 2% 0;
    font-size: 0.8rem;
    text-align: center;
  }

  .box .icon {
    line-height: 25px;
  }
}

/* 屏幕 小于640 */
@media all and (max-width:640px) {
  .swiper {
    width: 100%;
    min-width: 400px;
  }

  .swiper-container {
    width: 96%;
  }

  .swiper img {
    width: 100%;

  }

  .head-wrap .head {
    min-width: 400px;
  }
  .head-wrap .head img {
    width: 110px;
  }

  .head-wrap .nav {
    min-width: 400px;
  }

  .head-wrap .nav a {
    font-size: 0.6rem;
    color: #898989;
  }

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  .swiper-container .caption {
    font-size: 0.5rem;
  }

  .footer{
    min-width: 400px;
  }

  .footer p {
    font-size: 0.5rem;
  }

  .box .item h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .box .item p {
    font-size: 0.8rem;
    text-align: center;
  }

  .box .icon {
    line-height: 25px;
  }

  .swiper .content ul li.box:nth-child(2n+1) {
    margin-left: 0;
  }

  .swiper .content ul li.box:nth-child(n){
    width: 46%;
    margin-top: 2%;
    margin-right: 0;
    margin-left: 4%;
  }
}
