@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.w1300 {
  width: 1300px;
  margin: 0 auto;
}

h3 {
  font-size: 30px;
  text-align: center;
  padding: 30px 0px;
}

.mainbg {
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  box-sizing: content-box;
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.3);
}

.mainbg > p {
  font-size: 25px;
  text-align: center;
  line-height: 300px;
  display: none;
}

.mainbg:hover {
  background: rgba(0,0,0,0.3);
}

.mainbg:hover > p {
  color: #222;
  z-index: 20;
  position: relative;
  display: block;
}

.mainbg > div {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid red;
  transform: translate(-50%,-50%);
}

.mr {
  margin-right: 30px;
  margin-bottom: 30px;
}

.s1 {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

.s2 {
  width: 260px;
  height: 260px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.s3 {
  width: 260px;
  height: 130px;
  border-radius: 130px 130px 0 0;
}

.s4 {
  width: 260px;
  height: 260px;
  border-radius: 130px 0 0 0;
}

.s5 {
  width: 130px;
  height: 130px;
  border-radius: 130px 0 0 0;
}

.s6 {
  width: 260px;
  height: 130px;
  border-radius: 130px / 65px;
}

.s7 {
  width: 130px;
  height: 260px;
  border-radius: 65px / 130px;
}

.s8 {
  width: 270px;
  height: 130px;
  border-radius: 130px 130px 0 0 / 120px 120px 0 0;
}

.s9 {
  width: 130px;
  height: 270px;
  border-radius: 120px 0 0 120px / 130px 0 0 130px;
}

.s10 {
  width: 65px;
  height: 135px;
  border-radius: 65px 0 0 0 / 135px 0 0 0;
}

.s11 {
  width: 270px;
  height: 270px;
  box-shadow: 0px 0px 0px 100px red inset;
  border-radius: 50%;
}

.s12 {
  width: 270px;
  height: 270px;
  border-radius: 10%;
  box-shadow: 0px 0px 0px 100px red inset;
}

.s13 {
  width: 270px;
  height: 270px;
  border-top-left-radius: 50%;
  box-shadow: 0px 0px 0px 100px red inset;
}

.s14 {
  width: 270px;
  height: 270px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0px 0px 0px 100px red inset;
}

.mainbg > .s15 {
  border-left: 135px solid green;
  border-top: 135px solid red;
  border-bottom: 135px solid yellow;
  border-right: 135px solid blue;
}

.mainbg > .s16 {
  border-left: 135px solid green;
  border-top: 135px solid red;
  border-bottom: 135px solid yellow;
  border-right: 135px solid rgba(255,255,255,0);
}

.mainbg > .s17 {
  border-radius: 50%;
  border-left: 135px solid green;
  border-top: 135px solid red;
  border-bottom: 135px solid yellow;
  border-right: 135px solid rgba(255,255,255,0);
}

.mainbg > .s18 {
  border-radius: 50%;
  border-left: 135px solid rgba(255,255,255,0);
  border-top: 135px solid red;
  border-bottom: 135px solid red;
  border-right: 135px solid red;
}

.mainbg > .s19 {
  width: 270px;
  border-radius: 50%;
  border-top: 135px solid red;
  border-bottom: 135px solid green;
}

.mainbg > .s20 {
  width: 270px;
  border-radius: 50%;
  border-top: 135px solid red;
  border-bottom: 135px solid green;
}

.mainbg .pl .left,
.mainbg .pl .right {
  width: 35px;
  height: 35px;
  box-sizing: content-box;
  border-radius: 50%;
  position: absolute;
  top: -20px;
}

.mainbg .pl .left {
  left: 50px;
  background-color: red;
  box-shadow: 0px 0px 0px 50px green;
}

.mainbg .pl .right {
  right: 50px;
  background-color: green;
  box-shadow: 0px 0px 0px 50px red;
}

.mainbg .s21 {
  width: 200px;
  height: 100px;
  background-color: red;
  border-radius: 20px;
  /* box-shadow:-27px -74px 0px 8px rgba(255,0,0,1); */
}

.mainbg .s21 > .s21-s {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: -7px;
  transform: rotate(60deg);
  background: red;
}

.mainbg .s22 {
  width: 100px;
  height: 50px;
  background: green;
  border-radius: 40px 80px 80px 40px;
  border-top: 50px solid red;
  border-bottom: 50px solid red;
  border-left: 100px solid red;
  border-right: 30px solid red;
}
