@charset "utf-8";

html,body {
	height: 100%;
}
body {
	background: url(../img/timg.jpg) no-repeat 0 0 / 100% 100%
}

#box {
	width: 100px;
	height: 100px;
	margin: 300px auto;
	position: relative;
	/*
	 * perspective:1000px 设置透视点距离 效果
	 */
	perspective: 1000px;
	transform-style: preserve-3d;
	animation: run 10s linear infinite;
	transform: rotateX(60deg) rotateY(30deg);
}

#box div {
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: absolute;
}

#box p {
	position: absolute;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	color: #FFF;
	transform: translate(-50px,-50px);
	background: rgba(0, 0, 0, 0.7);
	transition: all 0.5s linear;
}

#box .in_left {
	transform: rotateY(-90deg) translateZ(50px);
}

#box .in_right {
	transform: rotateY(90deg) translateZ(50px);
}

#box .in_top {
	transform: rotateX(90deg) translateZ(50px);
}

#box .in_bottom {
	transform: rotateX(-90deg) translateZ(50px);
}

#box .in_before {
	transform: translateZ(50px);
}

#box .in_after {
	transform: rotateY(180deg) translateZ(50px);
}

@keyframes run {
	from {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(360deg)  rotateY(360deg) rotateZ(360deg);
	}
}

#box .out_left {
	transform: rotateY(-90deg) translateZ(150px) translateY(-50px);
}

#box .out_right {
	transform: rotateY(90deg) translateZ(50px) translateY(-50px);
}

#box .out_top {
	transform: rotateX(90deg) translateZ(150px) translateX(-50px);
}

#box .out_bottom {
	transform: rotateX(-90deg) translateZ(50px) translateX(-50px);
}

#box .out_before {
	transform: translateZ(100px) translateY(-50px) translateX(-50px);
}

#box .out_after {
	transform: rotateY(180deg) translateX(50px) translateY(-50px) translateZ(100px);
}

#box:hover .out_left {
	transform: rotateY(-90deg) translateZ(250px) translateY(-50px);
}

#box:hover .out_right {
	transform: rotateY(90deg) translateZ(150px) translateY(-50px);
}

#box:hover .out_top {
	transform: rotateX(90deg) translateZ(250px) translateX(-50px);
}

#box:hover .out_bottom {
	transform: rotateX(-90deg) translateZ(150px) translateX(-50px);
}

#box:hover .out_before {
	transform: translateZ(200px) translateY(-50px) translateX(-50px);
}

#box:hover .out_after {
	transform: rotateY(180deg) translateX(50px) translateY(-50px) translateZ(200px);
}