@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

body {
  background: #F2F2F2;
}

a {
  text-decoration: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.w {
  width: 600px;
  margin: 0 auto;
}

.head-wrap {
  height: 95px;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

.head-wrap .head {
  width: 136px;
  height: 44px;
  margin: 15px auto 10px auto;
}
.head-wrap .head img {
  width: 136px;
  height: 44px;
}

.head-wrap .nav {
  width: 1000px;
  height: 20px;
  margin:  0 auto;
  padding-bottom: 10px;
}

.head-wrap .nav a {
  width: 250px;
  text-align: center;
  float: left;
  display: inline-block;
  color: #898989;
}

.head-wrap .nav a:hover {
  color: #fff;
}

.head-wrap .nav a.first {
  margin-left: 0px;
}

.wrap {
  width: 1000px;
  margin: 130px auto 0px auto;
}

.wrap .join-center {
  width: 600px;
  margin: 0 auto;
}

.wrap .join-center .join-wrap {
  width: 480px;
  margin:  50px auto;
}

.wrap .join-center .join-wrap .join-logo img {
  width: 480px;
  margin-bottom: 20px;
}

.wrap .join-center .join-wrap .join-content {
  text-indent: 2em;
  color: #666;
  font-size: 0.8em;
  margin: 20px auto;
}

.wrap .join-center .join-wrap .join-contents {
  color: #666;
  font-size: 0.8em;
  margin: 10px auto;
}

.wrap .join-center .join-wrap .icon2 {
  color:#444;
  margin-top: 30px;
}

.wrap .join-center .join-wrap .icon2 p img {
  width: 70px;
}

.wrap .join-center .join-wrap .icon2-h5 {
  color: #444;
  margin-top: 20px;
}

.footer {
  background: #e0e0e0;
  position: relative;
  width: 100%;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px white;
  color: #666666;
  overflow: hidden;
}

.footer .foot {
  width: 600px;
  height: 50px;
}

.footer .footer-left {
  width: 300px;
  height: 50px;
  float: left;
}

.footer .footer-left a img{
  width: 30px;
  float: right;
  margin-right: 10px;
}

.footer .footer-center {
  width: 1px;
  height: 200px;
  float: left;
  background: #BCBCBC;
}

.footer .footer-right {
  width: 299px;
  float: left;
}

.footer .footer-right .contact {
  margin-left: 30px;
  font-size: 0.75em;
}

.footer .footer-right .contact .footer-logo {
  width: 143px;
  margin-bottom: 10px;
}

.footer .footer-right .contact .footer-logo img {
  width: 100%;
}

.footer .footer-right .contact p {
  margin-bottom: 5px;
}
/*  */
